body {
    color: seashell;
    background-color: black;
    opacity: 0.9;
    font-size: 22px;
    font-family: Helvetica, sans-serif;
}

header {
    position: relative;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.logo {
    height: 50px;
    margin-left: 10px;
}

nav {
    margin-left: auto;
    margin-right: 10px;
}

li {
    text-decoration: underline;
    list-style: none;
    display: inline-flex;
}

.container1 {
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.background {
    height: 700px;
    width: 1200px;
}

.statement {
    min-height: 80px;
    width: 1200px;
    position: relative;
    top: -350px;
    background-color: black;
    padding-bottom: 10px;
    opacity: 0.9;
}

h2 {
    font-size: 40px;
}

h2, h4 {
    text-align: center;
    margin: 7px;
}

.teaofthemonth {
    position: relative;
    top: -50px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    max-width: 700px;
    margin: auto;
}

.fleximage img {
    height: 200px;
    width: 300px;
}

.teatext {
    margin-top: 10px;
}

.container3 {
    background-image: url(./img-locations-background.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    min-height: 500px;
    max-width: 1200px;
}

.locationtext {
    position: relative;
    top: 65px;
    padding: 10px;
}

.fleximage2 {
    height: 250px;
    width: 300px;
    margin: 40px;
    background-color: black;
    text-align: center;
    opacity: 1;
}

.contact {
    text-align: center;
    height: 200px;
}

.footer {
    margin-left: 20px;
}